@import '_variables.scss';
@import '_mixin.scss';

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

html {
  font-family: 'Nunito', sans-serif;
}

.container {
  max-width: 1785px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

@media (max-width: 1366px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 968px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 600px) {
  .container {
    padding-left: 13px;
    padding-right: 13px;
  }
}